{% extends "index.html" %}

{% block title %}{{ foldername }} - PyNAS Files{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="mt-4">{{ foldername }}</h1>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h2>Files:</h2>
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item">
                    <a href="/download/{{ foldername }}/{{ file }}" target="_blank">{{ file }}</a>
                    <a href="/delete/{{ foldername }}/{{ file }}">(Delete)</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
